<launch>

  <!-- Default parameters to maintain compatibility with stock GUI -->
  <arg name="name" />
  <arg name="simulation" default="True" />
  <arg name="swarmie_dev" default="None" />
  <arg name="tensorflow_file" default="$HOME/classifiers/CNN_3_class_GB1_folder_wo_Aug_full_wdrop_512_2_27_e15.h5" />

  <group ns="$(arg name)">
    <include file="$(find swarmie)/launch/swarmie.xml">
      <arg name="name" value="$(arg name)"/>
      <arg name="simulation" value="$(arg simulation)"  />
      <arg name="swarmie_dev" value="$(arg swarmie_dev)" />
    </include>
  </group>
  
</launch>
